/* === Global reset & base === */
* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  color: rgb(159, 207, 248);
}
:root {
  --border_color: rgb(30, 114, 163);
  --p_color: rgb(6, 12, 80);
  --shad_color: rgb(36, 189, 219);
}

.navbar {
  display: inline-flex;
  justify-content: center;
  font-size: 1.3em;
  border: 2px solid rgb(30, 114, 163);
  border-radius: 50px;
  padding: 15px;
  width: 140px;
  margin: 10px 11.5%;
  background-color: var(--p_color);
  box-shadow: 1px 1px 20px 3px var(--shad_color);
  a {
    text-decoration: none;
  }
  a:hover {
    color: rgb(5, 255, 18);
  }
}
body {
  background-image: url("image/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}


.name {
  display: flexbox;
  border: 2px solid rgb(30, 114, 163);
  border-radius: 50px;
  padding: 20px;
  width: 800px;
  margin: 70px 300px;
  text-align: center;
  background-color: rgb(6, 12, 80);
  box-shadow: 1px 1px 20px 3px rgb(36, 189, 219);
}
.about {
  display: flex;
  justify-content: space-evenly;
}
.about > div {
  border: 2px solid rgb(30, 114, 163);
  border-radius: 50px;
  padding: 20px;
  width: 500px;
  text-align: center;
  background-color: rgb(6, 12, 80);
  box-shadow: 1px 1px 20px 3px rgb(36, 189, 219);
  line-height: 1.5;
  font-size: 1.2em;
  transition:all 2s cubic-bezier(0.23, 1, 0.320, 1) ;
  
}
.about>div:hover{
    transform: translateY(-20px);
    
  }
.navback {
  padding: 40px 734px;
  position: absolute;
  background-color: #0a0f2c;
  z-index: -1;
  opacity: 0.7;
  box-shadow: 1px 1px 20px 5px rgb(0, 41, 71) inset;
}
